# Local development (SQLite file)
DATABASE_URL=file:./local.db

# Production (Turso cloud)
TURSO_DATABASE_URL=libsql://your-database.turso.io
TURSO_AUTH_TOKEN=your-auth-token

# Aemet
AEMET_API_KEY=XXX